logo {
    float: left;
    width: 30%;
    text-align: left;
}

logo img{
    width: 100%;
    max-width: 150px;
}

nav {
    float: right;
    width: 65%;
    text-align: right;
}

nav a {
    color: #ae00ff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

nav a:hover {
    color: #ff00e696;
    font-weight: bold;
    text-decoration: underline;
    background-color: white;
    border-radius: 3px;
}